// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn
{
	position: relative;
	color: #31A60A;
  background: #C3EDB4;
	height: 30px;
  width: 130px;
  padding: 10 10 10 10;
  text-align: center;
}
